# Database Configuration
MYSQL_ROOT_PASSWORD
MYSQL_DATABASE
MYSQL_USER
MYSQL_PASSWORD
MYSQL_PORT

# Prisma Database URL (LOCAL, NO DOCKER)
DATABASE_URL

# App
APP_PORT
NODE_ENV

# NextAuth
NEXTAUTH_URL
NEXTAUTH_SECRET

# Admin Login
ADMIN_EMAIL
ADMIN_PASSWORD

#Workflow Id
WORKFLOW_ID
